
#title {
    color: grey;
    font-size: 18px;
}
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
.popup {
	position:fixed;
	width: 100%;
	height: 100%;
	transition: all 0.8s ease 0s;
}
.popup_body{
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup_title{
	font-size:40px;
	margin: 0px 0px 1em 0px;
}
.popup_content{
	background-color:#10FFC5;
}
.button{
	align-items:center;
}
.img
{
width: 40px;
height:40px;
}